DATABASE_URL="postgresql://admin:admin@localhost:5434/poseidon?schema=public"
AUTHSECRET = "kjklsjfdkjksf"
CLOUDINARY_CLOUD_NAME=deskuwdew
CLOUDINARY_API_KEY=432538935528244
CLOUDINARY_API_SECRET=UULVbMCsK_b0uMyWu4EIABgTUm4
REDIS_CONNECTION_URL="rediss://red-d108i315pdvs73988kn0:48U2bjCmsV0JfRT3IwnYY9ZpNvX2PnCN@oregon-keyvalue.render.com:6379"
STRIPE_SECRET_KEY=sk_test_51S14538ZZDvAakDbsGqbQDmg5wXzoTdkk2J1Nyob9EKQdnDBQQvAXA7pXp6ZMEAWapCy5zEbC8uv4sAbXRuWPB8X00nyy8JgHZ
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:3000
ZOOM_CLIENT_ID=7ugkZmTiSCCdzBQE6pjaUw
ZOOM_CLIENT_SECRET=8yWkiv3PyQOY2YCB8Bxnjow63St4NgJF
ZOOM_ACCOUNT_ID=p79SDRYlRb-x1C3_WUK6yA
ZOOM_API_BASE=https://api.zoom.us/v2
MAIL_USER=saifulislam106915@gmail.com
MAIL_PASS=lrftntftmlaofsqc
